[submodule "lib/imgui"]
	path = lib/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "lib/SDL2"]
	path = lib/SDL2
	url = https://github.com/libsdl-org/SDL.git
[submodule "lib/NFDe"]
	path = lib/NFDe
	url = https://github.com/btzy/nativefiledialog-extended.git
